*{
    width:100%;
    height:auto;
    /* border: 2px solid black; */

}
#main-header{
    position: fixed;
    z-index:100;
    top:0;
    width:100%;
    /* overflow: hidden; */

    
}
.carousel-indicators{
    margin: 0px !important;
}
.main-header{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #F1EFF2;
    /* overflow: hidden; */
}
.navbar-logo{
    width:20%;
    display:flex;
    align-items: center;
    padding: 0px 
}
.navbar-logo #logoHeader {
    width:100%;
}
.navbar-bars {
    width:40%;
    position: relative;
}
.navbar-bars #subMenu{
    display:flex;
    padding: 0px;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin:0px
    
}
.navbar-bars #subMenu .navbar{
    list-style: none;
}

.navbar-bars #subMenu .compostitionParentmenu{
    font-size: 2vh;
    color:black;
    text-decoration: none;
    font-weight:700;
    padding: 10px 0px;
    position: relative;

}
.compostitionParentmenu::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 0.3s ease;
    transform: translateX(-50%); 
    /* Dịch chuyển phần tử về chính giữa */

}
.compostitionParentmenu:hover::after {
    width:100%;
}
.navbar-search{
    width:30%;
}
.searchMenu{
    display:flex;
}

.compositionsIconMenu{
    display:flex;
    align-items: center;
}
.compositionsIconMenu .compositionIconMenu{
    color:black;
    font-size: 150%;
    display:flex;
    padding-left:10%
}

.pop-up{
    width:100%;
    display:flex;
}

.pop-up-text{
 width:auto
}

.Toastify__close-button{
    position: absolute;
    /* right:-0 */
    left:0
}
.Toastify__toast {
    position: relative;

}
.searchMenu {
    width:100%
}
.searchMenu input{
    height:40px;
    border:5px solid rgba(255, 255, 255, 1);
    padding:10px;
    border-radius: 10px
}
.compositionsIconMenu {
    width:100%;
    padding:0px 70px;
}
.processimg{
    width:100%;
    display:flex;
    justify-content: center;
    /* padding:20px; */
    margin:20px;
}
.processimg img {
    width:40%
}
.process{
    display:grid;
    justify-content: center;
    align-items: center;
}
.box-btn-return{
    width:100%;
    display:flex;
    /* justify-content: center;
     */
     text-align: center;
     padding-top:50px;
     /* padding-left:30px; */
     justify-content: center;
}
.returnindex{
    width:auto;
    margin-left:37px
}
.btn-return  {
    width:auto;
    margin: 0px !important;
    /* border-radius: 10%!important; */
    height:50px;
    
}
