.body-page{
    padding-top:100px
}
.banner-shop {
    background-image: url('../assets/images/shop.webp') ;
    padding:200px;
    background-position: center;
   text-align: center;
   width:100%;
}
.banner-uudai{
    background-image: url('../assets/images/slide-img1.webp') ;
    padding:200px;
    background-position: center;
   text-align: center;
   width:100%;
}
.banner-dragonball{
    background-image: url('../assets/images/website-banner-2.webp') ;
    padding:200px;
    background-position: center;
   text-align: center;
   width:100%;
}
.banner-sale{
    /* width:50%; */
    font-size: 30px;
}
.dropdown .btn-group {
    /* width:10% */

}


.d-flex{
    width:80%;
    margin:0;
}
.btn{
    border:none !important;
    /* font-size: */
}
.btn .btn-outline-secondary :hover{
    background-color: white !important;
}
.list-img{
    width:100%;
    display:grid !important;
    grid-template-columns: 15% 15% 15% 15% 15%!important;
    justify-content: space-between;

}

